.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.card__title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.card__image {
    object-fit: cover;
}

.card__button {
    background: transparent url(../images/like-button-svg.svg) center no-repeat;
    width: 21px;
    height: 18px;
    padding-left: 28px;
    border: none;
}

.card__button:hover {
    opacity: 50%;
    cursor: pointer;
}