.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.card__title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.card__image {
    object-fit: cover;
    object-position: 50% 50%;
    height: 282px;
    opacity: .7;
}

.card__image:hover {
    cursor: pointer;
}

.card__button {
    background: transparent url(../images/like-button-svg.svg) center no-repeat;
    width: 21px;
    height: 18px;
    padding-left: 28px;
    border: none;
}

.card__button:hover {
    opacity: 50%;
    cursor: pointer;
}

.card__button.active {
    background-image: url(../images/like-button-clicked.svg);
}

.card__trash {
    background: transparent url(../images/Trash.svg) center no-repeat;
    width: 18px;
    height: 20px;
    border: none;
    position: absolute;
    align-self: self-end;
    padding-top: 18px;
    padding-right: 15px;
}

.card__trash:hover {
    opacity: .6;
    cursor: pointer;
}
