.footer {
    max-width: 381px;
    min-height: 18px;
    padding-top: 67px;
    padding-bottom: 60px;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    color: #545454;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 621px) {
    .footer {
        padding: 48px 19px 36px;
    }

    .footer__copyright {
        font-size: 14px;
    }
}