.header {
    padding-top: 72px;
    padding-bottom: 34px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgba(84, 84, 84, .6);
}

.header__logo {
    max-width: 880px;
    max-height: 74px;
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0;
        padding-top: 28px;
        padding-bottom: 0;
    }

    .header__logo {
        max-width: 126px;
        height: 24px;
        padding-left: 19px;
        padding-bottom: 32px;
    }
}