.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.modal__opened {
    /*display: none;*/
}

.modal__close {
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
}


.modal__container {
    position: relative;
    padding: 36px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.modal__heading {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    margin: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    gap: 30px;
}

.modal__form-input {
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    max-width: 358px;
    max-height: 28px;
    padding-bottom: 13px;
}

.modal__button {
    background-color: black;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    width: 358px;
    height: 50px;
    align-self: center;
    margin-top: 18px;
}


@media screen and (max-width: 527px) {
    .modal__close {
        width: 26px;
        height: 26px;
        top: -55px;
        right: 0;
    }

    .modal__heading {
        font-size: 18px;
    }

    .modal__container {
        padding: 25px 22px;
    }

    .modal__form {
        padding-top: 75px;
    }
}

@media screen and (max-width: 404px) {
    .modal__form-input {
        width: 238px;
        height: 27px;
    }

    .modal__button {
        width: 238px;
        height: 46px;
    }
}


