.page {
    background-color: black;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: 0 auto;
}


@media screen and (max-width: 880px){
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width: 320px) {
    .page__section {
        margin: 0;
        max-width: 320px;
    }
}