.page {
    background-color: black;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: 0 auto;
}