.profile {
    padding: 40px 0 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.profile__info {
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: lighter;
    display: grid;
    grid-template-areas: 
        "title button"
        "description description";
    grid-template-columns: minmax(auto, 373px) auto;
}

.profile__name {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 41px; /*Changed from the listed 42px because it overflowed and added ellipses*/
    /*line-height: 38px; made names that had any g or y cut off the tails of the letters */
    margin: 0;
    grid-area: title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__bio {
    margin: 0;
    padding-top: 10px;
    max-width: 415px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    grid-area: description;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__image {
    width: 120px;
    height: 120px;
    padding-right: 30px;
}

.profile__edit-button {
    background: transparent url(../images/Edit-Button-Svg.svg) center no-repeat;
    width: 24px;
    height: 24px;
    grid-area: button;
    align-self: center;
    border-color: #fff;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background: transparent url(../images/Add-Button-Crosshair.svg) center no-repeat;
    margin-left: auto;
    border-color: #fff;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .profile {
        flex-direction: column;
        max-width: 282px;
        min-height: 286px;
    }

    .profile__info {
        display: grid;
        grid-template-areas: 
            "title button"
            "description description";
        grid-template-columns: minmax(auto, 196px) auto;
    }

    .profile__name {
        font-size: 22px;
        text-align: center; /*added to keep centered with the smaller resolutions*/
    }

    .profile__image {
        padding: 0 0 30px 0;
    }

    .profile__bio {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 16.94px;
        padding: 0;
    }

    .profile__edit-button {
        max-width: 18px;
        max-height: 18px;
        margin-left: 10px;
    }

    .profile__add-button {
        margin: 36px 0 0 0;
        width: 100%;
    }
}
