.header {
    padding-top: 45px;
    padding-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgba(84, 84, 84, .7);
}

.header__logo {
    max-width: 173px;
    max-height: 33px;
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0;
        padding-top: 28px;
        padding-bottom: 0;
    }

    .header__logo {
        width: 126px;
        height: 24px;
        padding-left: 19px;
        padding-bottom: 32px;
    }
}