@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
    background-color: black;
    width: 1280px;
    height: 1217px;
    padding: 0 200px 0 200px;
}

.header {
    max-width: 880px;
    max-height: 74px;
    padding-top: 45px;
    border: 1px;
    border-color: #545454;
}

.header__title {
    font-family: 'Inter', Arial, sans-serif;
    color:#ffffff;
    max-width: 173px;
    max-height: 33px;
    font-weight: normal;
    position: relative;
    margin: 0;
}

.span__item {
    font-size: 12px;
    position: absolute;
    font-weight: lighter;
}

.profile {
    max-width: 880px;
    max-height: 120px;
    padding: 40px 0 0;
}

.profile__contents {
    display: flex;
}

.profile__content {
    
}

.profile__info {
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: light;
    max-width: 415px;
    max-height: 77px;
    padding-top: 22px;
    padding-bottom: 21px;
}

.profile__name {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 auto;
}

.profile__bio {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 415px;
    max-height: 22px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

.profile__image {
    max-width: 120px;
    max-height: 120px;
    padding-right: 30px;
    padding-top: 22px;
    padding-bottom: 21px;
    
}

.profile__edit_button {
    max-width: 24px;
    max-height: 24px;
    
}

.add-button {
    max-width: 150px;
    max-height: 50px;
    padding: 35px 0 35px 165px; 
}

.card {
    max-width: 880px;
    max-height: 742px;
    border-radius: 10px 10px 0 0;
    padding-top: 51px;
}

.cards {
    max-width: 282px;
    max-height: 361px;
}

.card__picture {

}

.card__yosemite_picture {

}

.card__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000
}